openapi: 3.2.0
info:
  title: Cloudflare Zero Trust Network Access Devices API
  description: 'Cloudflare One / Zero Trust is a ZTNA platform exposed via the Cloudflare

    REST API (api.cloudflare.com/client/v4). This specification documents the

    subset of endpoints used to manage WARP devices, device registrations,

    Global WARP override, DEX tests, IP profiles, and deployment groups for an

    account''s Zero Trust deployment. Endpoint paths and behavior are sourced

    from developers.cloudflare.com/api/resources/zero_trust.'
  version: '4.0'
  contact:
    name: Cloudflare API Reference
    url: https://developers.cloudflare.com/api/resources/zero_trust/
servers:
- url: https://api.cloudflare.com/client/v4
  description: Cloudflare API
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Devices
  description: WARP devices enrolled in Zero Trust.
paths:
  /accounts/{account_id}/devices/physical-devices:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Devices
      summary: List WARP devices
      operationId: listDevices
      responses:
        '200':
          description: List of WARP devices.
  /accounts/{account_id}/devices/physical-devices/{device_id}:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    - name: device_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Devices
      summary: Get a WARP device
      operationId: getDevice
      responses:
        '200':
          description: Device.
    delete:
      tags:
      - Devices
      summary: Delete a WARP device
      operationId: deleteDevice
      responses:
        '200':
          description: Device removed.
  /accounts/{account_id}/devices/physical-devices/{device_id}/revoke:
    parameters:
    - name: account_id
      in: path
      required: true
      schema:
        type: string
    - name: device_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Devices
      summary: Revoke registrations for a device
      operationId: revokeDevice
      responses:
        '200':
          description: Registrations revoked.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Cloudflare API Token (recommended). `Authorization: Bearer <token>`.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: 'Legacy authentication using `X-Auth-Email` + `X-Auth-Key` (Global API Key)

        headers. Bearer token is preferred.'
